---
import Layout from '../layouts/Layout.astro';
import LocationMap from '../components/LocationMap.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Belleza Pura">
	<main class="flex min-h-screen flex-col items-center justify-start bg-navy-deep min-w-full">
		<div class="flex-1 w-full flex flex-col items-center justify-center p-8">
			<h1 class="text-4xl font-heading text-sun-yellow text-center">Belleza Pura - Academia</h1>
			<p class="mt-4 text-gray-200">Em construção - Projeto Astro Serverless</p>
		</div>
		
		<LocationMap />
	</main>
	<Footer />
</Layout>
