---
import Layout from '../layouts/Layout.astro';
import HeroHeader from '../components/HeroHeader.astro';
import CorporatePartners from '../components/CorporatePartners.astro';
import FaqSection from '../components/FaqSection.astro';
import LocationMap from '../components/LocationMap.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Belleza Pura">
	<main class="flex min-h-screen flex-col items-center justify-start min-w-full">
		<HeroHeader />
		<CorporatePartners />
		<FaqSection />
		<LocationMap />
	</main>
	<Footer />
</Layout>
